
<div class="container">
  <div class="header">
    <h1>This is my timeline</h1>
  </div>
  <div class="item">
    <div id="timeline">
      <div>
        <section class="year">
          <h3>2019</h3>
          <section>
            <ul>
              <li>Working on Global Clouds Project <span class="badge badge-primary">From January 25th to the present</span></li>
            </ul>
          </section>     
        </section>
        <section class="year">
          <h3>2018</h3>
          <section>
            <ul>
              <li>Justin-Overview redesign <span class="badge badge-primary">October</span></li>
              <li>Sistema de Gestión de Averías Finished <span class="badge badge-primary">July 15th</span></li>
              <li>Árbol de Esperanza Finished <span class="badge badge-primary">June 25th</span></li>
            </ul>
          </section>     
        </section>
        <section class="year">
          <h3>2017</h3>
          <section>
            <ul>
              <li>I taugh a course"Desarrollando un backend con Nodejs" in UNAN León Nicaragua <span class="badge badge-primary">December 5th</span></li>
              <li>Angular 4 course finished <span class="badge badge-primary">November 1st</span></li>
            </ul>
          </section>     
        </section>
      </div>
    </div>
  </div>
</div>