
<div id="main-container" class="container-fluid p-0">
  <div class="header shadow-sm">
    <h1>Timeline</h1>
  </div>
  <div class="item" id="style-1">
    <div id="timeline">
      <div class="container-fluid p-0">
        <section class="year">
          <h3>2019</h3>
          <section>
            <ul>
              <li>Working on Global Clouds Project. <span class="badge badge-primary">From January 25th to the present</span></li>
              <li>SantuarioNatura Finished. <span class="badge badge-primary">January 24th</span></li>
            </ul>
          </section>     
        </section>
        <section class="year">
          <h3>2018</h3>
          <section>
            <ul>
              <li>I taugh a course "Introduction to GraphQL" in San Carlos Technology Summit. <span class="badge badge-primary">November 21rst</span></li>
              <li><strong>Two years at <i>Comunidad de Aplicaciones Móviles. </i></strong> <span class="badge badge-primary">November</span></li>
              <li>Justin-Overview redesign. <span class="badge badge-primary">October</span></li>
              <li>SantuarioNatura Started. <span class="badge badge-primary">August 11th</span></li>
              <li>Sistema de Gestión de Averías Finished. <span class="badge badge-primary">July 15th</span></li>
              <li>Árbol de Esperanza Finished. <span class="badge badge-primary">June 25th</span></li>
              <li>Árbol de Esperanza Started. <span class="badge badge-primary">February 7th</span></li>
            </ul>
          </section>     
        </section>
        <section class="year">
          <h3>2017</h3>
          <section>
            <ul>
              <li>I taugh a course"Desarrollando un backend con Nodejs" in UNAN León Nicaragua. <span class="badge badge-primary">December 5th</span></li>
              <li>Angular 4 course finished. <span class="badge badge-primary">November 1rst</span></li>
              <li>Justin-Overview created. <span class="badge badge-primary">October</span></li>
              <li><strong>One year at <i>Comunidad de Aplicaciones Móviles.</i></strong> <span class="badge badge-primary">November</span></li>
              <li>I taugh a course"Construyendo un backend robusto y modularizado con TypeScript" in SemanaTEC Event. <span class="badge badge-primary">September 11th</span></li>
              <li>I taugh an Angular 4 course. Start of course. <span class="badge badge-primary">August 10th</span></li>
              <li>Sistema de Gestión de Averías Started. <span class="badge badge-primary">July 15th</span></li>
              <li>I worked on "Proyecto de Odontología" at <i>Instituto Tecnológico de Costa Rica. </i> <span class="badge badge-primary">From February to March</span></li>
            </ul>
          </section>     
        </section>
        <section class="year">
          <h3>2016</h3>
          <section>
            <ul>
              <li>I joined to <i>Comunidad de Aplicaciones Móviles</i> Group. <span class="badge badge-primary">November</span></li>
              <li>Started Computer Engineering at <i>Instituto Tecnológico de Costa Rica</i> Group. <span class="badge badge-primary">February 7th</span></li>
            </ul>
          </section>     
        </section>
      </div>
    </div>
  </div>
</div>