<div id="wrapper">
  <ngb-carousel class="text-center shadowm-lg">
    <ng-template ngbSlide>
      <img src="../../assets/angie1.jpg" width="auto" height="auto" class="container imgCarousel" >
      <div class="carousel-caption">
        <h6>¡Te admiro!</h6>
        <p>Considero que eres una persona muy capaz, inteligente y con visión del futuro :)</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/angie2.jpg" width="auto" height="auto" class="container imgCarousel" >
      <div class="carousel-caption">
        <h6>¡Felicidad!</h6>
        <p>Cuando estoy contigo la felicidad se me desborda</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/angie3.jpg" width="auto" height="auto" class="container imgCarousel" >
      <div class="carousel-caption">
        <h6>He amado el proceso</h6>
        <p>Desde que te conocí he amado cada parte del proceso que he tenido contigo <mat-icon>favorite</mat-icon></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/angie4.jpg" width="auto" height="auto" class="container imgCarousel" >
      <div class="carousel-caption">
        <h6>¡Te amo!</h6>
        <p>¡Cada segundo un poco más!</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/angiegrades.jpg" width="auto" height="auto" class="container imgCarousel" >
      <div class="carousel-caption">
        <h6>¡Super orgulloso!</h6>
        <p>Creo en todo tu potencial mi amor</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div id="main-container">
    <button class="m-2" color="primary" mat-raised-button (click)="_dialog.openOurTimeLine()">Nuestra línea de tiempo</button>
    <div class="container text-center p-2 card" id="content">
      <p class="shadow-sm text-justify rounded p-2 distinct">
        ¡El dia de estoy está de cumpleaños una de las personas más especiales en mi vida!
        Alguien que ha llegado a robarse por completo mi corazón con su forma de ser y su carisma tan hermosa.
        Cuando te conocí jamás llegué a pensar que te convertirías en alguien tan especial; no pensé que llegaras a ocupar
        el lugar que ahora tienes en mi corazón.
        De corazón te digo que te deseo lo mejor en cada paso y decisión que vayas a dar en tu vida, y recuerda que cuando
        necesites alguien que te escuche, que te ame, que te dé un consejo, ahí estaré para ti mi amor.
      </p>
      <button mat-raised-button (click)="playAudio()"> Amé esto mi amor<mat-icon>play_arrow</mat-icon></button>
      <hr>
      <p id="though" class="distinct shadow-sm text-justify rounded p-2">
        Sin ser un día especial quiero expresar lo mucho que significa su amor para mi.
        Normalmente cuando me encuentro sólo, me gusta mucho reflexionar y pensar en las cosas buenas y personas que me ha dado la vida;
        muchas cosas buenas han venido de forma inesperada como ha sido el conocer a una persona super especial ahora en mi vida.
        Es increíble como ahora no me puedo imaginar un futuro sin que esa persona esté ahí, sin verme cumplir metas juntos,
        sin mejorar como persona para hacerme y hacerle más felíz cada día.
        Debo confesar que imaginar su sonrisa, sus besos y sus abrazos me llenan de tranquilidad y amor en momentos
        que han sido difíciles personalmente.
        <strong>Esto no es una carta de amor</strong>, donde se buscan palabras que engalardonen el papel con su rima y su metafórico
        significado; esto es más bien la escritura de pensamientos que gobiernan mi mente.
        Estoy buscando las palabras correctas para hacerle saber a ella que la amo con todo mi corazón y que cada día forma más parte 
        de mi vida, esas palabras que me permitan hacerle saber que la quiero cuidar, aconsejar y verle superarse como persona,
        llegando a esos lugares tan altos que le permite su potencial. <br>
        Mientras busco esas palabras, le demostraré con hechos todo mi amor. En cada beso le transmitiré todo lo que siento por ella;
        en cada abrazo le quiero transmitir mi amor y las partes más íntimas de mi ser.
        <br>
        <i><small>Pensamientos que me vinieron a la mente el {{written_date | date }} | Justin A.C.V</small></i>
      </p>
    </div>
  </div>
</div>