
<div id="main-container" class="container-fluid p-0">
    <div class="header">
      <h5>Nuestra línea de tiempo <mat-icon>favorite</mat-icon></h5>
    </div>
    <div class="item">
      <div id="timeline">
        <div class="container-fluid p-0">
          <section class="year">
            <h3>..</h3>
            <section>
              <ul>
                <li>Primer Mensaje en Facebook <span class="badge badge-primary">Febrero 15</span></li>
              </ul>
            </section>     
          </section>
          <section class="year">
            <h3>..</h3>
            <section>
              <ul>
                <li>Nos hicimos novios <span class="badge badge-primary">Abril 17</span></li>
              </ul>
            </section>     
          </section>
          <section class="year">
            <h3>..</h3>
            <section>
              <ul>
                <li>Nuestro primer mes! <span class="badge badge-primary">Mayo 17</span></li>
              </ul>
            </section>     
          </section>
          <section class="year">
            <h3>..</h3>
            <section>
              <ul>
                <li>Tu primer cumpleaños juntos! <span class="badge badge-primary">Junio 5</span></li>
              </ul>
            </section>     
          </section>
        </div>
      </div>
    </div>
  </div>