@media screen and (min-width: 601px) {
  form {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  form {
    width: 80%;
  }
}

form {
  margin: auto;
}
mat-form-field {
  width: 90%;
}
