<nav class="navbar navbar-expand-lg shadow p-1 pl-4 pt-0 pr-4 mb-5">
  <span class="navbar-brand text-white">Justin A. Castillo V.</span>
  <div class="navbar-expand ml-auto navbar-nav social">
    <a class="nav-item nav-link white" href="https://github.com/JustinCast" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <a class="nav-item nav-link white" href="https://www.linkedin.com/in/jacv" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</nav>
<div id="main-container" class="container text-center mt-8">
  <img class=""  id="avatar" src="../assets/octocat.png" alt="avatar">
  <h1 class="text-white m-2">FullStack Engineer</h1>
  <button id="time-line-button" mat-raised-button class="mb-2 shadow"(click)="_dialog.openTimeLine()">
    My timeline
  </button>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>My Overview</mat-panel-title>
      </mat-expansion-panel-header>
      <h6>
        Visionary - I always say that the future is on the Web & cloud. GraphQL enthusiast and Web Assembly explorer.
      </h6>
      <hr>
      <div class="container">
        <button onClick="window.location='https://drive.google.com/open?id=1O6_Xyq8D2s_QwMIi2KVv_KtxynV2WQ6y';" 
        id="download-btn" mat-stroked-button>
            <span class="download-txt">Download CV</span>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-tab-group class="shadow-lg p-0 pt-0 mb-5 rounded card mt-4">
  <mat-tab style="color: black">
    <ng-template mat-tab-label>
      <span class="m-0 header-tab">About</span>
      <i class="material-icons ml-1 align">account_circle</i>
    </ng-template>
    <p>
      I'm a student at Instituto Tecnológico de Costa Rica and actually I'm also
      a Freelancer in my free time. Currently I live in Aguas Zarcas, San Carlos. I really love Web Development and my favorite Framework is Angular.
      One of my favorites hobbies is make some exercise and see some series on Netflix.
    </p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="m-0 header-tab">Projects</span>
      <i class="material-icons ml-1 align">playlist_add_check</i>
    </ng-template>
    <p>
      I've already worked in important projects like 
      <i>
        Sistema de Gestión de Averías del Acueducto de la Municipalidad de San Carlos
      </i>
      wich was developed in Android from June 2017 to June 2018. <br>
    </p>
    <p>
      I've teach some <strong>Web Development Courses</strong> in Angular and HTML5 to TEC students. In addition I've make serveral
      conferences to students and people in San Carlos.
      If you want to know more about me, go and watch my <strong>TimeLine.</strong>
    </p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="m-0 header-tab">Tech Skills</span>
      <i class="material-icons ml-1 align">code</i>
    </ng-template>  
    <ul id="tech-ul" class="text-center">
      <li class="tech-li card shadow p-2 text-center" *ngFor="let t of technologies">
        <img src="{{t.img}}" alt="{{t.name}}" class="tech-img">
        <hr class="h-line">
        <p class="text-center text-danger tech-name">{{t.name}}</p>
      </li>
    </ul>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="m-0 header-tab">Extra Courses & Complementary</span>
      <i class="material-icons ml-1 align">assignment</i>
    </ng-template>
    <ul id="complementary-ul">
      <li class="comp-li">Diploma in Banking and Finance</li>
      <li class="comp-li">Angular Teaching Certificate</li>
      <li class="comp-li">TypeScript Teaching Certificate</li>
    </ul>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="m-0 header-tab">Rate me</span>
      <i class="material-icons ml-1 align">star</i>
    </ng-template>
    <app-rate-me></app-rate-me>
  </mat-tab>
</mat-tab-group>

<footer class="footer shadow-lg p-1">
  <div class="container">
    <span>&copy; {{year}}</span>
  </div>
</footer>