<nav class="navbar shadow-lg p-3 mb-8">
  <h3>Justin Castillo</h3>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link">
        About
      </a>
      <a class="nav-item nav-link">
        Experience
      </a>
      <a class="nav-item nav-link">
        Projects
      </a>
      <a class="nav-item nav-link">
        Contact
      </a>
      <!-- <a class="nav-item nav-link" href="/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
      <a class="nav-item nav-link" href="/" target="_blank">
        <i class="fa fa-facebook"></i>
      </a> -->
    </div>
  </div>
</nav>
<div class="container text-center mt-8">
  <img class="card shadow-sm p-1"  id="avatar" src="../assets/avatar.png" alt="avatar">
  <h1 class="text-white m-4">FullStack Engineer</h1>
  <mat-accordion style="transform: rotate(-90deg)">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>My Overview</mat-panel-title>
      </mat-expansion-panel-header>
      <div id="panel-text" class="container mt-2">
        Visionary - I always say that the future is on the Web & cloud. GraphQL enthusiast and Web Assembly explorer.
      </div>
      <hr>
      <div class="container">
        <button id="download-btn" mat-button>Download CV</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>