@media screen and (min-width: 601px) {
  .review {
    width: 30%;
  }
}
@media screen and (max-width: 700px) {
  .review {
    width: 97%;
  }
}

#reviews {
  list-style-type: none;
}

#details {
  list-style-type: none;
}

mat-expansion-panel {
  background-color: rgba(206,37,35, 0.02);
}

.review {
  display: inline-block;
  background: rgba(229, 225, 232, 0.99)
}

h4,
h2 {
  font-weight: lighter;
}
h4 {
  color: #a0151e;
}

#header {
  background-color: darkslategrey;
  color: whitesmoke;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: whitesmoke;
  background-color: darkslategray;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 0.5px dashed rgb(202, 201, 201);
  margin: 1em 0;
  padding: 0; 
}